*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

#name{
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.navbar{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00B4DB, #0083B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00B4DB, #0083B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#nav_text{
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

#buttons-container{
    position: relative;
    bottom: -230px;
    left: -5px;
}

#arr {
    font-weight: bolder;
    color: #000 !important;
}

.info{
    height: 460px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00B4DB, #0083B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00B4DB, #0083B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#send{
    height: 60px;
    font-weight: bold;
}

#array_show{
    background-color: #fff;
    border-radius: 20px;
    height: 300px;
    
}